:root {
  --navbar-color: blue;
  --white: white;
}

h1 {
  color: var(--navbar-color);
}

h3 {
  color: var(--white);
  background-color: var(--navbar-color);
}

h1:active {
  transition: 4s;
  background-color: var(--navbar-color);
  color: var(--white);
}

h1:hover::before{
    transition: 2s;
    content: 'Salom';
    background: red;

}
h1:hover::after{
    transition: 2s;
    content: 'Salom';
    background: gray;

}

.kjhsddgfkjhsd{
    color: red;
}

